body {
  background-color: #107896;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

img {
  max-width: 500px;
  height: auto;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

ul, ol {
  line-height: 1.5;
}

li {
  list-style: none;
}

